.logo {
  margin: 8px;
}

.logo a {
  text-decoration: none;
  color: #000 !important;
  font-size: 32px;
}

.social {
  margin: 8px;
  padding: 8px;
}

.social i {
  color: #000;
  font-size: 20px;
}

.social a {
  padding-left: 8px;
}

a {
  text-decoration: none;
  color: #f7c873 !important;
}

.mobile-nav-button__icon {
  border-top: solid 3px #000;
}

.mobile-nav-button__icon::before,
.mobile-nav-button__icon::after {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 0;
  content: "";
  transition: transform 0.2s;
  border-top: solid 3px #000;
  /* Change is here.*/
}

.header-nav > div > figure{
  max-width: fit-content !important;
}

.header-nav {
  display: grid;
  align-items: start;
  justify-content: start;
  grid-template-columns: 1fr 1fr;
  z-index: 501;
  /* Appear above overlay and contextual links in header. */
  inset-block-start: 0;
  inset-inline-start: 0%;
  /* Change is here.*/
  visibility: hidden;
  overflow: auto;
  /* Ensure that header nav not use additional space and force system branding
   * block text to unnecessarily wrap. */
  flex-basis: max-content;
  width: 50vw;
  max-width: none !important;
  height: 100%;
  padding-block: 0 var(--sp);
  padding-inline-start: var(--sp);
  padding-inline-end: var(--sp);
  /* Create room for the "close" button. We cannot use margin because the
   * mobile navigation needs to slide beneath the button, but we also cannot
   * use padding because that would enable the button to scroll out of the
   * viewport on short screens. */
  border-block-start: solid var(--color--white) calc(var(--sp3) + var(--drupal-displace-offset-top, 0px));
  background-color: var(--color--white);
  box-shadow: 0 0 72px rgba(0, 0, 0, 0.1);
}

.header-nav > div {
  padding: 1rem 2rem;
}

/* Change is here.*/
.header-nav.is-active {
  visibility: visible;
  transform: translateX(calc(0% + var(--drupal-displace-offset-left, 0px)));
  width: 50vw;
  /* LTR */
}

[dir="rtl"] .header-nav.is-active {
  transform: translateX(calc(0% - var(--drupal-displace-offset-right, 0px)));
}

/* Change ends here.*/

@media (min-width: 43.75rem) {
  .mobile-buttons {
    margin-block-start: var(--sp4);
    margin: 0;
    /* Change is here.*/
  }
}

.field {
  padding: 16px;
}

/* .block__content {
  max-width: fit-content;
} */

.block-field-blocknodemagazine-pagesfield-hero-image, .field--name-field-media-image {
  max-width: fit-content;
}

.block-field-blocknodemagazine-pagesfield-hero-image > div > div > div > div > img {
  width: 75vw;
  height: auto;
}

.block-search-narrow {
  margin-inline: calc(-1 * var(--sp));
  margin-block-end: var(--sp2);
  background: #fff;
  border: 1px solid rgba(239, 239, 240, 1);
}

.field--name-field-category, .field--name-field-heading, .field--name-field-date {
  text-align: center;
}

.field--name-field-heading {
  font-size: 32px;
}

.block__title, .field__label {
  display: none;
}

.field:not(:last-child) {
  margin-block-end: 0px;
}

.block-block-content83a452fe-589f-4186-a0d5-a02867695672 {
  border: 4px solid rgba(239, 239, 240, 1);
}

.block-block-contentb3ebd64a-68f0-4c9c-b083-eace086dc0f9 > .block__content {
  display: grid;
  align-items: start;
  justify-content: start;
  grid-template-columns: 1fr 1fr;
}

.site-footer {
  background: #fff;
}

figure, figcaption {
  background: #fff;
}

blockquote::before, blockquote::after {
  display: none;
}

figure figcaption {
  line-height: var(--sp2);
}

.text-content a:where(:not(.button)),
.cke_editable a:where(:not(.button)) {
  color: var(--color-text-primary-medium);
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
  overflow-wrap: break-word;
}

@supports (box-shadow: none) {
  .text-content a:where(:not(.button)),
  .cke_editable a:where(:not(.button)) {
    transition: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    box-shadow: none;
  }

  .text-content a:where(:not(.button)):hover,
  .cke_editable a:where(:not(.button)):hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    color: var(--color--black);
    box-shadow: none;
    text-decoration-color: var(--color--primary-80);
  }
}

.mobile-buttons {
  margin-top: 16px;
}

.fh5co-highlight {
  border: 4px solid rgba(239, 239, 240, 1);
  padding: 8px;
}

.fh5co-article-title a {
  color: #000 !important;
}

.fh5co-meta {
  color: #f7c873 !important;
}

.fh5co-date {
  color: rgba(189, 195, 199, 1) !important;
}

.views-field-field-magazine-page-content > .field-content > .container-fluid > .fh5co-post-entry > article > .animate-box {
  margin: 0;
  width: 25vw;
  height: auto;
}

.teaser_page {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.teaser_page h2 a {
  font-size: 16px;
}

.teaser_page .img-responsive {
  padding: 4px;
}

.teaser_page p {
  margin: 0;
}

/* .teaser_page img {
  width: 200px;
  height: auto;
} */

@media (min-width: 43.75rem) {
  .text-content, .cke_editable {
      font-size: 1.125rem;
      line-height: var(--sp2);
      display: flex;
      justify-content: center;
  }
}


.view, .view-content {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
}

.views-element-container .contextual-region {
  justify-content: center;
}

.primary-nav__menu-link {
  color: #000 !important;
}

